*{
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h1{
    font-size: 30px;
}
h3{
    font-size: 20px;
}

img{
    max-width: 100%;
}

.container{
    max-width: 1000px;
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.flex{
    display: flex;
    align-items: center;
}
.flex > div {
    flex: 1;
}

header{
    background: url("./images/bg-hero-desktop.svg");
    background-size: cover;
    background-position: center center;
    background-color: hsl(193, 100%, 96%);
    padding: 50px 70px;
}

nav{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
}
nav button{
    border-radius: 50px;
    background-color: white;
    font-size: 14px;
    font-weight: 700;
    padding: 15px 60px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
    cursor: pointer;
}

.intro-left button{
    width: 280px;
    height: 55px;
    border-radius: 50px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-family: 'Open Sans';
    font-weight: 700;
}

.box{
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 60px 40px 60px 120px;
    margin: 40px;
}


.small-box{
    display: inline-block;
    align-content: center;
    margin-bottom: -50%;
    position: relative;
    background-color: white;
    z-index: 1;
}

.small-box button{
    width: 280px;
    height: 55px;
    border-radius: 50px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
}
.center{
    text-align: center;
}
.box img{
    width: 80%;
}

main{
    margin: 70px;
}

footer{
    background: hsl(192, 100%, 9%);
    color: white;
    padding: 180px 60px;
}

footer ul{
    /* padding: 0; */
    list-style-type: none;
}

footer ul li{
    margin-bottom: 20px;
}

.align-start{
    align-items: flex-start;
}
