body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin: 0;
}

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h1{
    font-size: 30px;
}
h3{
    font-size: 20px;
}

img{
    max-width: 100%;
}

header{
    background: url("./images/bg-hero-desktop.svg");
    background-size: cover;
    background-position: center center;
    background-color: hsl(193, 100%, 96%);
    padding: 50px 0;
}

nav{
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}
nav button{
    border-radius: 50px;
    background-color: white;
    font-size: 14px;
    font-weight: 700;
    width: 200px;
    height: 50px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.12);
}

.flex{
    display: flex;
    align-items: center;
}

.flex > div {
    flex: 1;
}

.container{
    max-width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    width: 1300px;
}

.intro-left button{
    width: 280px;
    height: 55px;
    border-radius: 50px;
    border: none;
    background-color: hsl(322, 100%, 66%);
    color: white;
    font-family: 'Open Sans';
    font-weight: 700;
}
main{
    margin: 70px;
}

.box{
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    padding: 60px 40px 60px 120px;
    margin: 40px;
}
.box img{
    width: 80%;
}

footer{
    background: hsl(192, 100%, 9%);
    color: white;
}
